@use "common" as common;

.files-container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    width: 100%;
    gap: 1.5rem;
    color: var(--md-sys-color-on-surface-variant);
}

.side-bar {
    display: flex;
    height: 100%;
    width: common.$side-bar-width;
    flex-direction: column;
    background-color: var(--md-sys-color-surface-container-low);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .siderbar-header{
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}

.library-item {
    @include common.hover-color;
    @include common.hover-bg-color;
    width: 100%;
    cursor: pointer;
}

.library-item-content {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    padding: 0.8rem;
    width: 100%;
}

.directory{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    height: 100%;
    background-color: var(--md-sys-color-surface-container-lowest);
}

.directory-actions {
    display: flex;
    flex-direction: row;
    gap: 1.2rem ;
    align-items: center;
    
    span{
        color: var(--md-sys-color-on-surface-variant);
        @include common.hover-color;
        cursor: pointer;
    }
}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: solid 2px var(--md-sys-color-outline);
    border-radius: 6px;
    padding: 4px 6px;
    color: inherit;
    min-width: 18rem;
}

.search-input{
    background-color: transparent;
    color: var(--md-sys-color-on-surface-variant);
    border: none;
    flex: 1;
    font-size: 1rem; 
    padding: 0px;
    margin: 0px;
    &:focus{
        outline: none;
    }

    &::placeholder {
        color: var(--md-sys-color-on-surface-variant);
        opacity: 0.7;
        font-size: 1rem; 
    }
}

.search-icon {
    color: var(--md-sys-color-on-surface-variant);
}

$context-menu-border-color: var(--md-sys-color-on-surface-variant);
#file-context-menu {
    position: absolute;
    background: var(--md-sys-color-surface-container-low);
    overflow: hidden;
    border-radius: 10px;
    min-width: 120px;
    //border-color: var(--md-sys-color-on-surface-variant);
    //border-width: 1px;
    //border-style: solid;
    box-shadow: 2px 2px 5px rgba($context-menu-border-color, 0.6);
    z-index: 1000;
}
    
#file-context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    
#file-context-menu .menu-item {
    padding: 8px 15px;
    cursor: pointer;
    color: var(--md-sys-color-on-surface-variant);
    font-family: 'Roboto', sans-serif;
    &:hover {
        background: var(--md-sys-color-surface-container-high);
    }

    &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.file, .folder{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
    @include common.hover-bg-color;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.pathbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem;
    gap: 0.6rem;
    color: var(--md-sys-color-on-surface-variant);
}

@media (max-width: 1500px) {
    .files-container {
        grid-template-columns: repeat(5, auto);
    }
}

@media(max-width: 1050px) {
    .files-container {
        grid-template-columns: repeat(4, auto);
    }

    .library-item-content {
        flex-direction: column;
    }
}

@media(max-width: 786px) {
    .files-container {
        grid-template-columns: repeat(3, auto);
    }

    .side-bar {
        width: common.$side-bar-width-min;
        align-items: center;
        .siderbar-header {
            display: none;
        }
    }

    .library-item-label {
        display: none;
    }

    .library-item-content{
        justify-content: center;
        align-items: center;
    }

    .directory-name{
        display: none;
    }

    .directory-actions {
        width: 100%;
        justify-content: space-between;
    }

    .searchbar{
        min-width: auto;
        flex: 1;
    }
}