:root {
    --light-text-color: gray;
    --dark-text-color: #ccc;
    --primary-color: #3767ff;
    --background-color: #f0f0f0;
    --hover-background-color: #e0e0e0;
    --border-color: #ddd;
    --sidebar-width: 200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--primary-color);
    :visited{
        text-decoration: none;
    }
}

.file > div > *, .folder> div > *, h1, h2, h3, h4, h5, h6 {
    color: gray;
}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 1rem 2.2rem;
}

.topbar-icon {
    width: 2.8rem;
    height: 2.8rem;
}

.topbar-title {
    font-size: 2rem;
    font-weight: 600;
}

.files-container {
    display: grid;
    grid-template-columns: repeat(7, auto);
    width: 100%;
    gap: 1.5rem;
    color: var(--light-text-color);
}

.side-bar {
    display: flex;
    height: 100%;
    min-width: 200px;
    flex-direction: column;
    border-right: 1px solid #ccc;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.siderbar-header{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.library-item {
    color: var(--light-text-color);
    width: 100%;
    :hover{
        color: #3767ff;
        background: #f0f0f0;
    }
}

.library-item-content {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    padding: 0.8rem;
    width: 100%;
}

.directory-actions {
    display: flex;
    flex-direction: row;
    gap: 1.4rem ;
    align-items: center;
    color: var(--light-text-color);
    :hover{
        color: var(--primary-color);
    }
}

.search-input{
     &:focus{
        outline: none;
    }
}

#file-context-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}
    
#file-context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
    
#file-context-menu li {
    padding: 8px 15px;
    cursor: pointer;
}
    
#file-context-menu li:hover {
    background: #f0f0f0;
}

@media (max-width: 1500px) {
    html{ font-size: 90%; }

    .files-container {
        grid-template-columns: repeat(5, auto);
    }
}

@media(max-width: 1050px) {
    html{ font-size: 80%; }

    .files-container {
        grid-template-columns: repeat(4, auto);
    }

    .side-bar {
        min-width: auto;
    }

    .library-item {
        flex-direction: column;
    }
}

@media(max-width: 786px) {
    html{ font-size: 60%; }

    .topbar-title{
        display: none;
    }

    .files-container {
        grid-template-columns: repeat(3, auto);
    }

    .side-bar {
        min-width: auto;
    }

    .library-item-label {
        display: none;
    }

    .siderbar-header {
        display: none;
    }

    .directory-name{
        display: none;
    }

    .directory-actions {
        width: 100%;
        justify-content: space-between;
    }
}